{%- unless template == 'index' or template == 'cart' or template == 'list-collections' or template == '404' -%}
{%- assign t = template | split: '.' | first -%}

<nav class="breadcrumbs" role="navigation" aria-label="breadcrumbs">
  <ol class="breadcrumbs__list">
    <li class="breadcrumbs__item">
      <a class="breadcrumbs__link" href="/">Home</a>
    </li>
    {%- case t -%}
      {%- when 'page' -%}
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link" href="{{ page.url }}" aria-current="page">{{ page.title }}</a>
        </li>
      {%- when 'product' -%}
        {%- if collection.url -%}
          <li class="breadcrumbs__item">
            {{ collection.title | link_to: collection.url }}
          </li>
        {%- endif -%}
        {% comment %} <li class="breadcrumbs__item">
          <a class="breadcrumbs__link {% if t == 'product' %}current-page{% endif %}" href="{{ product.url }}" aria-current="page">{{ product.title }}</a>
        </li> {% endcomment %}
        {% if nav != blank %}
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link" data-nn href="/collections/{{ nav.title | handle }}" aria-current="page">{{ nav.title }}</a>
          </li>
          {% assign should_break = false %}
          {% for link in nav.links %}
            {% for col in product.collections %}
              {% if col.handle == link.handle %}
                <li class="breadcrumbs__item">
                  <a class="breadcrumbs__link" href="{{ link.url }}" aria-current="page">{{ link.title }}</a>
                </li>
                {% for child_link in link.links %}
                  {% for col in product.collections %}
                    {% if col.handle == child_link.handle %}
                      <li class="breadcrumbs__item">
                        <a class="breadcrumbs__link" href="{{ child_link.url }}" aria-current="page">{{ child_link.title }}</a>
                      </li>
                      {% for grandchild_link in child_link.links %}
                        {% for col in product.collections %}
                          {% if col.handle == grandchild_link.handle %}
                            <li class="breadcrumbs__item">
                              <a class="breadcrumbs__link" href="{{ grandchild_link.url }}" aria-current="page">{{ grandchild_link.title }}</a>
                            </li>
                            {% break %}
                          {% endif %}
                        {% endfor %}
                      {% if should_break %}
                        {% break %}
                      {% endif %}
                      {% endfor %}
                    {% assign should_break = true %}
                    {% endif %}
                  {% endfor %}
                {% if should_break %}
                  {% break %}
                {% endif %}
                {% endfor %}
              {% assign should_break = true %}
              {% endif %}
            {% endfor %}
          {% if should_break %}
            {% break %}
          {% endif %}
          {% endfor %}
        {% else %}
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link {% if t == 'product' %}current-page{% endif %}" href="{{ product.url }}" aria-current="page">{{ product.title }}</a>
          </li>
        {% endif %}



      {%- when 'collection' and collection.handle -%}
        {%- if current_tags -%}
          <li class="breadcrumbs__item">
            {{ collection.title | link_to: collection.url }}
          </li>
          <li class="breadcrumbs__item">
            {%- capture tag_url -%}{{ collection.url }}/{{ current_tags | join: "+"}}{%- endcapture -%}
            <a class="breadcrumbs__link {% if t == 'collection' %}current-page{% endif %}" href="{{ tag_url }}" aria-current="page">{{ current_tags | join: " + "}}</a>
          </li>
        {%- else -%}
        {% if nav != blank %}
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link" href="{{ nav.handle }}" aria-current="page">{{ nav.title }}</a>
          </li>
          {% for link in nav.links %}
            {% if link.current %}
             {% comment %} <li class="breadcrumbs__item">
                <a class="breadcrumbs__link {% if t == 'collection' %}current-page{% endif %}" href="{{ link.url }}" aria-current="page">{{ link.title }}</a>
              </li>{% endcomment %}
            {% elsif link.child_active %}
              <li class="breadcrumbs__item">
                <a class="breadcrumbs__link" href="{{ link.url }}" aria-current="page">{{ link.title }}</a>
              </li>
              {% for child_link in link.links %}
                {% if child_link.current %}
                 {% comment %} <li class="breadcrumbs__item">
                    <a class="breadcrumbs__link {% if t == 'collection' %}current-page{% endif %}" href="{{ child_link.url }}" aria-current="page">{{ child_link.title }}</a>
                  </li>{% endcomment %}
                {% elsif child_link.child_active %}
                  <li class="breadcrumbs__item">
                    <a class="breadcrumbs__link" href="{{ child_link.url }}" aria-current="page">{{ child_link.title }}</a>
                  </li>
                    {% for grandchild_link in child_link.links %}
                      {% if grandchild_link.current %}
                      {% comment %}  <li class="breadcrumbs__item">
                          <a class="breadcrumbs__link {% if t == 'collection' %}current-page{% endif %}" href="{{ grandchild_link.url }}" aria-current="page">{{ grandchild_link.title }}</a>
                        </li>{% endcomment %}
                      {% endif %}
                    {% endfor %}
                {% endif %}
              {% endfor %}
            {% endif %}
          {% endfor %}
        {% endif %}
          {% comment %} <li class="breadcrumbs__item">
            <a class="breadcrumbs__link {% if t == 'collection' %}current-page{% endif %}" href="{{ collection.url }}" aria-current="page">{{ collection.title }}</a>
          </li> {% endcomment %}
        {%- endif -%}
      {%- when 'blog' -%}
        {%- if current_tags -%}
          <li class="breadcrumbs__item">
            {{ blog.title | link_to: blog.url }}
          </li>
          <li class="breadcrumbs__item">
            {%- capture tag_url -%}{{blog.url}}/tagged/{{ current_tags | join: "+" }}{%- endcapture -%}
            <a class="breadcrumbs__link {% if t == 'blog' %}current-page{% endif %}" href="{{ tag_url }}" aria-current="page">{{ current_tags | join: " + " }}</a>
          </li>
        {%- else -%}
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link {% if t == 'blog' %}current-page{% endif %}" href="{{ blog.url }}" aria-current="page">{{ blog.title }}</a>
          </li>
        {%- endif -%}
      {%- when 'article' -%}
        <li class="breadcrumbs__item">
          {{ blog.title | link_to: blog.url }}
        </li>
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link {% if t == 'article' %}current-page{% endif %}" href="{{ article.url }}" aria-current="page">{{ article.title }}</a>
        </li>
      {%- else -%}
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link {% if t == 'page' %}current-page{% endif %}" href="{{ request.path }}" aria-current="page">{{ page_title }}</a>
        </li>
    {%- endcase -%}
  </ol>
</nav>
{%- endunless -%}
