{% assign product_form_id = 'product-form-' | append: section.id %}



<div class="swatcher__wrap">
  <div class="swatcher-list">
    {% for value in option.values %}


      <label for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}">
        <input class="swatch-color"
          id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
          type="radio"
          name="{{option.name}}"
          id="color-{{value}}"
          value="{{ value | escape }}"
          {% if option.selected_value == value %}checked{% endif %}
          {% if option_disabled %}class="disabled"{% endif %}>
        {{ value }}

      </label>
    {% endfor %}



  </div>
</div>