{% assign product_form_id = 'product-form-' | append: section.id %}

<input
  type="hidden"
  id="url_json"
  value="{{settings.file_swatch_url}}">

<div class="swatcher__wrap">
  <div class="swatcher-list">
    {% for value in option.values %}
      <div class="div__wrap-swatcher-item">
        <input
          class="swatch-color my-input-radio"
          id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
          type="radio"
          name="{{option.name}}"
          id="color-{{value}}"
          value="{{ value | escape }}"
          {% if option.selected_value == value %}checked{% endif %}
          {% if option_disabled %}class="disabled"{% endif %}>
        <label class="swatch-color-body" for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}">
          {% assign colorArray = "" %}
          {% for item in shop.metaobjects.colors.values %}
            {% assign colorArray = item.farbe %}
          {% endfor %}
          <div class="swatch-color-wrap" style="background-color: {{ colorArray.value[value] }}"></div>
        </label>
      </div>
    {% endfor %}
    <div class="swatch__name">
      <p></p>
    </div>


  </div>
</div>