{% assign isSize = false %}
{% for value in filter.values %}
  {% if value.value contains tag %}
    {% assign isSize = true %}
  {% endif %}
{% endfor %}
{% if isSize %}
  <details
  id="Details-Mobile-{{ index }}-{{ sectionId }}"
  class="mobile-facets__details js-filter"
  data-index="mobile-{{ index }}"
>
  <summary class="mobile-facets__summary focus-inset">
    <div>
      <span>{{ tag | capitalize | remove_last: ":" }}</span>
      <span class="mobile-facets__arrow no-js-hidden">{% render 'icon-arrow' %}</span>
      <noscript>{% render 'icon-caret' %}</noscript>
    </div>
  </summary>
  <div
    id="FacetMobile-{{ index }}-{{ sectionId }}"
    class="mobile-facets__submenu gradient"
  >
    <button
      class="mobile-facets__close-button link link--text focus-inset"
      aria-expanded="true"
      type="button"
    >
      {% render 'icon-arrow' %}
      {{ tag | capitalize | remove_last: ":" }}
    </button>
    <ul class="mobile-facets__list list-unstyled" role="list">
      {%- for value in filter.values -%}
        {% if value.value contains tag %}
        <li class="mobile-facets__item list-menu__item">
          <label
            for="Filter-{{ filter.param_name | escape }}-mobile-{{ forloop.index }}"
            class="mobile-facets__label{% if value.count == 0 and value.active == false %} mobile-facets__label--disabled{% endif %}"
          >
            <input
              class="mobile-facets__checkbox"
              type="checkbox"
              name="{{ value.param_name }}"
              value="{{ value.value }}"
              id="Filter-{{ filter.param_name | escape }}-mobile-{{ forloop.index }}"
              {% if value.active %}
                checked
              {% endif %}
              {% if value.count == 0 and value.active == false %}
                disabled
              {% endif %}
            >

            <span class="mobile-facets__highlight"></span>

            <svg
              width="1.6rem"
              height="1.6rem"
              viewBox="0 0 16 16"
              aria-hidden="true"
              focusable="false"
            >
              <rect width="16" height="16" stroke="currentColor" fill="none" stroke-width="1"></rect>
            </svg>

            <svg
              aria-hidden="true"
              class="icon icon-checkmark"
              width="1.1rem"
              height="0.7rem"
              viewBox="0 0 11 7"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path d="M1.5 3.5L2.83333 4.75L4.16667 6L9.5 1" stroke="currentColor" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round" />
            </svg>

            <span aria-hidden="true">{{ value.label | replace: tag, '' | escape }} ({{ value.count }})</span>
            <span class="visually-hidden">
              {{- value.label | escape }} (
              {%- if value.count == '1' -%}
                {{- 'products.facets.product_count_simple.one' | t: count: value.count -}}
              {%- else -%}
                {{- 'products.facets.product_count_simple.other' | t: count: value.count -}}
              {%- endif -%}
              )</span
            >
          </label>
        </li>
      {% endif %}
      {%- endfor -%}
    </ul>

    <div class="no-js-hidden mobile-facets__footer gradient">
      <facet-remove class="mobile-facets__clear-wrapper">
        <a href="{{ filter.url_to_remove }}" class="mobile-facets__clear underlined-link">
          {{- 'products.facets.clear' | t -}}
        </a>
      </facet-remove>
      <button
        type="button"
        class="no-js-hidden button button--primary"
        onclick="this.closest('.mobile-facets__wrapper').querySelector('summary').click()"
      >
        {{ 'products.facets.apply' | t }}
      </button>
      <noscript
        ><button class="button button--primary">
          {{ 'products.facets.apply' | t }}
        </button></noscript
      >
    </div>
  </div>
</details>

{% endif %}