{% assign isSize = false %}
{% for value in filter.values %}
  {% if value.value contains tag %}
    {% assign isSize = true %}
  {% endif %}
{% endfor %}
{% if isSize %}
<details
  id="Details-{{ index }}-{{ sectionId }}"
  class="disclosure-has-popup facets__disclosure js-filter"
  data-index="{{ index }}"
>
  <summary
    class="facets__summary caption-large focus-offset"
    aria-label="{{ filter.label }} ({{ 'products.facets.filters_selected.one' | t: count: filter.active_values.size }})"
  >
    <div>
      <span style="font-weight: 500;">
        {{ tag | capitalize | remove_last: ":" }}
      </span>
      
      {% assign activeCount = 0 %}
      {% for item in filter.active_values %}
        {% if item.label contains tag %}
            {% assign activeCount = activeCount | plus: 1 %}
        {% endif %}
      {% endfor %}
      {% if activeCount != 0 %}
        <span class="filter-count">{{ activeCount }}</span>
      {% endif %}
      {% render 'icon-caret' %}
    </div>
  </summary>
  <div
    id="Facet-{{ index }}-{{ sectionId }}"
    class="parent-display facets__display"
  >
    <fieldset class="facets-wrap parent-wrap">
      <legend class="visually-hidden">{{ filter.label | escape }}</legend>
      <ul
        class="facets__list list-unstyled no-js-hidden"
        role="list"
      >
      {% assign sizesString = '' %}
      {% for value in filter.values %}
        {% if value.value contains 'GRÖSSE:' %}
          {% assign sizesString = sizesString | append: ',' | append: value.value %}
        {% endif %}
      {% endfor %}
      {% assign size = filter.values | where: 'value', 'GRÖSSE:%' %}
        {%- for value in filter.values -%}
          {% if value.value contains tag %}
            
          <li class="list-menu__item facets__item">
            <label
              for="Filter-{{ filter.param_name | escape }}-{{ forloop.index }}"
              class="facet-checkbox{% if value.count == 0 and value.active == false %} facet-checkbox--disabled{% endif %}"
            >
              <input
                type="checkbox"
                name="{{ value.param_name }}"
                value="{{ value.value }}"
                id="Filter-{{ filter.param_name | escape }}-{{ forloop.index }}"
                {% if value.active %}
                  checked
                {% endif %}
                {% if value.count == 0 and value.active == false %}
                  disabled
                {% endif %}
              >

              <svg
                width="1.6rem"
                height="1.6rem"
                viewBox="0 0 16 16"
                aria-hidden="true"
                focusable="false"
              >
                <rect width="16" height="16" stroke="currentColor" fill="none" stroke-width="1"></rect>
              </svg>

              <svg
                aria-hidden="true"
                class="icon icon-checkmark"
                width="1.1rem"
                height="0.7rem"
                viewBox="0 0 11 7"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path d="M1.5 3.5L2.83333 4.75L4.16667 6L9.5 1"
                  stroke="currentColor"
                  stroke-width="1.75"
                  stroke-linecap="round"
                  stroke-linejoin="round" />
              </svg>

              <span aria-hidden="true">{{ value.label | replace: tag, '' | escape }} ({{ value.count }})</span>
              <span class="visually-hidden">
                {{- value.label | escape }} (
                {%- if value.count == 1 -%}
                  {{- 'products.facets.product_count_simple.one' | t: count: value.count -}}
                {%- else -%}
                  {{- 'products.facets.product_count_simple.other' | t: count: value.count -}}
                {%- endif -%}
                )</span
              >
            </label>
          </li>
        {% endif %}

        {%- endfor -%}
      </ul>
      {% comment %} No show more for no JS {% endcomment %}
      <ul
        class="{% if filter_type != 'vertical' %} facets__list{% endif %} no-js-list list-unstyled no-js"
        role="list"
      >
        {%- for value in filter.values -%}
          <li class="list-menu__item facets__item">
            <label
              for="Filter-{{ filter.param_name | escape }}-{{ forloop.index }}-no-js"
              class="facet-checkbox{% if value.count == 0 and value.active == false %} facet-checkbox--disabled{% endif %}"
            >
              <input
                type="checkbox"
                name="{{ value.param_name }}"
                value="{{ value.value }}"
                id="Filter-{{ filter.param_name | escape }}-{{ forloop.index }}-no-js"
                {% if value.active %}
                  checked
                {% endif %}
                {% if value.count == 0 and value.active == false %}
                  disabled
                {% endif %}
              >

              <svg
                width="1.6rem"
                height="1.6rem"
                viewBox="0 0 16 16"
                aria-hidden="true"
                focusable="false"
              >
                <rect width="16" height="16" stroke="currentColor" fill="none" stroke-width="1"></rect>
              </svg>

              <svg
                aria-hidden="true"
                class="icon icon-checkmark"
                width="1.1rem"
                height="0.7rem"
                viewBox="0 0 11 7"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path d="M1.5 3.5L2.83333 4.75L4.16667 6L9.5 1"
                  stroke="currentColor"
                  stroke-width="1.75"
                  stroke-linecap="round"
                  stroke-linejoin="round" />
              </svg>

              <span aria-hidden="true">{{ value.label | escape }} ({{ value.count }})</span>
              <span class="visually-hidden">
                {{- value.label | escape }} (
                {%- if value.count == 1 -%}
                  {{- 'products.facets.product_count_simple.one' | t: count: value.count -}}
                {%- else -%}
                  {{- 'products.facets.product_count_simple.other' | t: count: value.count -}}
                {%- endif -%}
                )</span
              >
            </label>
          </li>
        {%- endfor -%}
      </ul>
    </fieldset>
  </div>
</details>
{% endif %}