{% assign  count =  0%} 
{%- for option in product.options_with_values -%}  
  {% if option.name == 'Color' or option.name == 'color' or option.name == 'Farbe' or option.name == 'farbe'%} 
    {%  assign count =  count | plus : 1%}
  {% endif %} 

{% endfor %}



<div class="slide__wrap  my-cart-product">
  <div class="product_image">
    <a href="{{product.url}}">
      <div class="product_image-wrap">
        {%comment %}{% for image in product.images %}
          <img src="{{ image.src | img_url: 'large' }}" alt="{{ product.title }}" />
        {% endfor %}{% endcomment %}
        {% if product.images.size > 0 %}
            <img  src="{{ product.images[0].src | product_img_url: 'large' }}" alt="{{ product.title }}">
        {% endif %}
        {% if product.compare_at_price > product.price %}
          <span class="sale-label">Sale</span>
        {% endif %}
        {% if product.available == false %}
          <span class="sold-label">Sold out</span>
        {% endif %}
      </div>
    </a>
    {% if show_contant != false %}
        {% if count > 0 %}
          <div class="product-swatch" >
            {% render 'swatcher-cart', product: product, section: section %}
          </div>
        {% endif %}
    {% endif %}


  </div>
  {% if show_contant != false %}
    <div class="product-contant">
      <div class="title scroll-trigger animate--slide-in" style="--animation-order: 0;">
        <h3>
          <a href="{{product.url}}">{{ product.title }}</a>
        </h3>
      </div>
      <div class="info__wrap">
        <div class="price scroll-trigger animate--slide-in" style="--animation-order: 0;">
        {% if product.compare_at_price > product.price and sale %}
          <span class="compare-price">
            {{ product.compare_at_price | money }}
          </span>
          <span class="price">
            {{ product.price | money }}
          </span>
        {% else %}
          <span>
            {{ product.price | money }}
          </span>
        {% endif %}
        </div>
        {% if showButton %}
          <div class="block-add-btn-wrap scroll-trigger animate--slide-in" style="--animation-order: 0;">
            {% form 'product', product %}
              <input
                type="hidden"
                class="cart-id-first"
                value="{{product.first_available_variant.id}}">
              <button class="add-my-cart">
                {{ 'products.product.add_to_cart' | t }}
                <svg
                  width="14"
                  height="8"
                  viewBox="0 0 14 8"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M13.3535 4.35355C13.5488 4.15829 13.5488 3.84171 13.3535 3.64645L10.1716 0.464465C9.9763 0.269203 9.65972 0.269203 9.46446 0.464465C9.2692 0.659728 9.2692 0.97631 9.46446 1.17157L12.2929 4L9.46446 6.82843C9.2692 7.02369 9.2692 7.34027 9.46446 7.53553C9.65972 7.7308 9.9763 7.7308 10.1716 7.53553L13.3535 4.35355ZM0.775238 4.5L13 4.5L13 3.5L0.775238 3.5L0.775238 4.5Z" fill="#828071" />
                </svg>
  
              </button>
            {% endform %}
          </div>
        {% endif %}
        {% if show_option %}
          {% assign opt = product.options | size %}
          {% assign counter = 0 %}
          {% for option in product.options %}
            {% assign option_name = option | downcase %}
            {% if option_name == 'farbe' %}
                {% assign counter = counter | plus: 1 %}
            {% elsif option_name == 'größe' or option_name == 'grösse'%}
              {% assign counter = counter | plus: 1 %}
            {% endif %}
          {% endfor %}
          {% if opt > 2 %}
             <a href="{{product.url}}" class="option-btn">
              <span>optionen+</span>
            </a>
          {% elsif opt == 2 and counter != 2 %}
             <a href="{{product.url}}" class="option-btn">
              <span>optionen+</span>
            </a>
          {% endif %}
        {% endif %}
      </div>
    </div>
  {% endif %}
  <script type="application/json">
    {{ product.variants | json }}
  </script>
</div>