<div class="slide__wrap  my-cart-product">
      <div class="product_image">
        <a href="{{product.url}}">
            <div class="product_image-wrap">
                {% for image in product.images %}
                    <img src="{{ image.src | img_url: 'large' }}" alt="{{ product.title }}" />
                {% endfor %}
            </div>
            <div class="product-swatch">
                {% render 'swatcher-cart', product:product, section:section %}
            </div>
        </a>
        
      </div>
      {% if show_contant != false %} 
          <div class="product-contant">
              <div class="title">
                  <h3>
                  <a href="{{product.url}}">{{ product.title }}</a>
                  </h3>
              </div>
              <div class="info__wrap">
                  <div class="price">
                  <span>
                      {{ product.price | money }}
                  </span>
                  </div>
                  <div class="block-add-btn-wrap">
                  {% form 'product' , product %}
                        <input type="hidden" class="cart-id-first" value="{{product.first_available_variant.id}}">
                        <button class="add-my-cart">
                            Add to cart
                        </button>
                  {% endform %}
                  </div>
              </div>
          </div>
      {% endif %}
      <script type="application/json">
        {{ product.variants | json }}
      </script>
</div>