<div class="slide__wrap  my-cart-product">
      <div class="product_image">
        <a href="{{product.url}}">
            <div class="product_image-wrap">
                {% for image in product.images %}
                    <img src="{{ image.src | img_url: 'large' }}" alt="{{ product.title }}" />
                {% endfor %}
            </div>
            {% if show_contant != false %} 
                <div class="product-swatch">
                    {% render 'swatcher-cart', product:product, section:section %}
                </div>
            {% endif %}
        </a>
        
      </div>
      {% if show_contant != false %} 
          <div class="product-contant">
              <div class="title">
                  <h3>
                  <a href="{{product.url}}">{{ product.title }}</a>
                  </h3>
              </div>
              <div class="info__wrap">
                  <div class="price">
                  <span>
                      {{ product.price | money }}
                  </span>
                  </div>
                  <div class="block-add-btn-wrap">
                  {% form 'product' , product %}
                        <input type="hidden" class="cart-id-first" value="{{product.first_available_variant.id}}">
                        <button class="add-my-cart">
                            Add to cart <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M13.3535 4.35355C13.5488 4.15829 13.5488 3.84171 13.3535 3.64645L10.1716 0.464465C9.9763 0.269203 9.65972 0.269203 9.46446 0.464465C9.2692 0.659728 9.2692 0.97631 9.46446 1.17157L12.2929 4L9.46446 6.82843C9.2692 7.02369 9.2692 7.34027 9.46446 7.53553C9.65972 7.7308 9.9763 7.7308 10.1716 7.53553L13.3535 4.35355ZM0.775238 4.5L13 4.5L13 3.5L0.775238 3.5L0.775238 4.5Z" fill="#828071"/>
                            </svg>
                            
                        </button>
                  {% endform %}
                  </div>
              </div>
          </div>
      {% endif %}
      <script type="application/json">
        {{ product.variants | json }}
      </script>
</div>