{% assign metaObject = product.metafields.custom.tab_3.value %}
<div class="product__tabs">
  <div class="product__tabs-wrap">
    <div class="tabs__header">
      <ul>
        <li class="active">DEScription</li>
        <li>Pflegehinweise</li>
        <li> <img src="https://cdn.shopify.com/s/files/1/0837/0719/9803/files/Symbol.png?v=1697587432" alt=""> Philosophie</li>
        <li>
          Versand & Rücksendung</li>
      </ul>
    </div>
    <div class="tab_content">
      <div class="tab-1 tab active">
        {{ product.description }}
      </div>
      <div class="tab-2 tab">
        {{ product.metafields.custom.tab_1 | metafield_tag }}
      </div>
      <div class="tab-3 tab">
        {{ product.metafields.custom.tab_2 | metafield_tag }}
      </div>
      <div class="tab-4 tab">

        {{ metaObject.title | metafield_tag }}
        {{ metaObject.text | metafield_tag }}

      </div>
    </div>
  </div>
</div>


<div class="product-tab-mobile">
  <div class="product-tab-mobile__wrap">
    <div class="tab-item">
      <div class="tab-item-wrap">
        <div class="tab-name">
          <p>
            DESCRIPTION
            <svg
            class="open-svg"
            width="18"
            height="19"
            viewBox="0 0 18 19"
            fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path
              d="M9 1.71582V17.7158M17 9.71582L1 9.71582"
              stroke="#828071"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round" />
          </svg>
          <svg
            class="close-svg"
            width="18"
            height="3"
            viewBox="0 0 18 3"
            fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path
              d="M1 1.71582H17"
              stroke="black"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round" />
          </svg>

          </p>
        </div>
        <div class="tab-contant">
          {{ product.description }}
        </div>
      </div>
    </div>
    <div class="tab-item">
      <div class="tab-item-wrap">
        <div class="tab-name">
          <p>
            Pflegehinweise
            <svg
            class="open-svg"
            width="18"
            height="19"
            viewBox="0 0 18 19"
            fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path
              d="M9 1.71582V17.7158M17 9.71582L1 9.71582"
              stroke="#828071"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round" />
          </svg>
          <svg
            class="close-svg"
            width="18"
            height="3"
            viewBox="0 0 18 3"
            fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path
              d="M1 1.71582H17"
              stroke="black"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round" />
          </svg>

          </p>
        </div>
        <div class="tab-contant">
          {{ product.metafields.custom.tab_1 | metafield_tag }}
        </div>
      </div>
    </div>
    <div class="tab-item">
      <div class="tab-item-wrap">
        <div class="tab-name">
          <p>
            <span>
                <img src="https://cdn.shopify.com/s/files/1/0837/0719/9803/files/Symbol.png?v=1697587432" alt=""> Philosophie
            </span>
            
            <svg
            class="open-svg"
            width="18"
            height="19"
            viewBox="0 0 18 19"
            fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path
              d="M9 1.71582V17.7158M17 9.71582L1 9.71582"
              stroke="#828071"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round" />
          </svg>
          <svg
            class="close-svg"
            width="18"
            height="3"
            viewBox="0 0 18 3"
            fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path
              d="M1 1.71582H17"
              stroke="black"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round" />
          </svg>

          </p>
        </div>
        <div class="tab-contant">
          {{ product.metafields.custom.tab_2 | metafield_tag }}
        </div>
      </div>
    </div>
    <div class="tab-item">
      <div class="tab-item-wrap">
        <div class="tab-name">
          <p>
            Versand & Rücksendung
            <svg
              class="open-svg"
              width="18"
              height="19"
              viewBox="0 0 18 19"
              fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M9 1.71582V17.7158M17 9.71582L1 9.71582"
                stroke="#828071"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round" />
            </svg>
            <svg
              class="close-svg"
              width="18"
              height="3"
              viewBox="0 0 18 3"
              fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M1 1.71582H17"
                stroke="black"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round" />
            </svg>

          </p>
        </div>
        <div class="tab-contant">
          {{ metaObject.title | metafield_tag }}
          {{ metaObject.text | metafield_tag }}
        </div>
      </div>
    </div>
  </div>
</div>