<style>
    #shopify-section-{{ section.id }} {
        background-color: {{ section.settings.bg }};
    }
    .blog-list a, .blog-list p, .blog-list span, .blog-list h1, .blog-list h2, .blog-list h3, .blog-list h4, .blog-list h5, .blog-list h6 {
        color: {{ section.settings.text_color }};
    }
</style>
<div class="blog-list">
    <div class="blog-list__wrapper container">
        <h2 class="blog-list__name">{{ section.settings.name }}</h2>
        <div class="blog-list__content">
            {% for block in section.blocks %}
                {% render 'blog-card', article: block.settings.article, btn_name: 'READ MORE' %}
            {% endfor %}
        </div>
        <div class="blog-list__link">
            <a class="a-btn" href="{{ section.settings.btn_url }}">{{ section.settings.btn_text }}</a>
        </div>
    </div>
</div>
{% schema %}
{
    "name": "Blog list",
    "settings": [
        {
            "type": "color",
            "id": "bg",
            "label": "Backgroind color"
        },
        {
            "type": "color",
            "id": "text_color",
            "label": "Text color"
        },
        {
            "type": "text",
            "id": "name",
            "label": "Nmae",
            "placeholder": "Blog"
        },
        {
            "type": "text",
            "id": "btn_text",
            "label": "Text button"
        },
        {
            "type": "url",
            "id": "btn_url",
            "label": "Button url"
        }
        
    ],
    "blocks": [
        {
            "name": "Article",
            "type": "article",
            "settings": [
                {
                    "type": "article",
                    "id": "article",
                    "label": "Article"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Blog list"
        }
    ]
}
{% endschema %}