<style>
    #shopify-section-{{ section.id }} {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
    }
    .about__wrapper {
        max-width: {{ section.settings.max_width }}px;
    }
</style>
<div class="about">
    <div class="about__wrapper container">
        {% if section.settings.logo != blank %}  
            <img class="about__logo" src="{{ section.settings.logo |  img_url: 'master'  }}" alt="{{ section.settings.logo.alt }}">
        {% endif %}
        <h2 class="about__title">{{ section.settings.title }}</h2>
        <div class="about__text">{{ section.settings.text }}</div>
    </div>
</div>

{% schema %}
{
    "name": "About text",
    "settings": [
        {
            "type": "range",
            "id": "padding_top",
            "label": "Paddind top",
            "min": 0,
            "max": 200,
            "step": 2,
            "unit": "px",
            "default": 60
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "label": "Paddind bottom",
            "min": 0,
            "max": 200,
            "step": 2,
            "unit": "px",
            "default": 60
        },
        {
            "type": "image_picker",
            "id": "logo",
            "label": "Logo icon"
        },
        {
            "type": "text",
            "id": "title",
            "label": "Title"
        },
        {
            "type": "richtext",
            "id": "text",
            "label": "Text"
        },
        {
            "type": "image_picker",
            "id": "img",
            "label": "Image"
        },
        {
            "type": "range",
            "id": "max_width",
            "label": "Max width",
            "min": 600,
            "max": 1100,
            "step": 10,
            "unit": "px",
            "default": 870
        }
    ],
    "presets": [
        {
            "name": "About text"
        }
    ]
}
{% endschema %}